<div class="home__container">
    <app-card
      gameCover="assets/bt-1.jpg"
      gameLabel="DIGITAL ONLY"
      gameType="DIGITAL | PS4"
      gamePrice="R$ 339,90"
    >
    </app-card>

    <app-card
      gameCover="assets/bt-4.jpg"
      gameLabel="EXCLUSIVE"
      gameType="DISC | PS5"
      gamePrice="R$ 259,90"
    >
    </app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="NEW"
    gameType="DIGITAL"
    gamePrice="R$ 159,90"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="VINTAGE"
    gameType="DIGITAL"
    gamePrice="R$ 99,90"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="PS4 | PS5"
    gamePrice="R$ 79,90"
  >
  </app-card>


</div>
